body{
    margin: 0;
    padding:0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    color: #363636;

}

body * { box-sizing: border-box;}

h1, h2, h3, h4 {
    margin: 0;
    padding:0;
    font-family: 'Yeseva One';
    text-transform: uppercase;
}

ul {
    margin: 0;
    padding:0;
}

.wrap{
    max-width: 1440px;
    margin:0 auto;
}



/*  header */
.header{
    background-color: #131313;    
    color:#FFFFFF;
    font-size: 11px;

}
.header .wrap {
    display:flex;
    align-items:center;
    justify-content:space-between;
    height:83px;
}

.header_logo {
    color:#E3B873;
    width:180px;

}
.header_nav a{
    color:#FFFFFF;
    text-decoration: none;
}
.header_nav ul{ 
    display:flex;
}

.header_nav li{
    list-style:none;
    margin-right: 47px;
    
}
.header_nav a:hover{
    color:#E3B873;
}
.phone a{
    color:#E3B873;
}

button {
    background-color:#E3B873;
    color:#FFFFFF;
    font-style: italic;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border:0;
    padding: 13px 33px;
    text-transform: uppercase;
    cursor: pointer;
}
/*  /header */

/*  banner */
.banner{
    background-image: url("../images/background_header.jpg");
    background-size: cover;
    height:707px;
    color:#FFFFFF;
    padding-top: 194px;
    position: relative;
    box-shadow: inset 0 0 0 200vw rgba(0, 0, 0, 0.7);

}
.banner_intro{
    max-width:676px;
    padding-right:150px;
}
h1{
    font-family: 'Yeseva One', cursive;
    font-size: 40px;
    margin-bottom:19px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;

}
h1 span{
    color:#E3B873; 
}
.banner_intro p{
    font-size: 22px;
    line-height: 36px;
}
.banner button {
    outline: 0;
    text-transform: uppercase;
    padding: 0 41px;  
    height:51px;
    }
.button_border {
    border:1px solid #FFFFFF;
    background-color: transparent;
    color:#FFFFFF;
    margin-left:20px;
    box-shadow: none;
}
.button_border.mobile{
    display:none;
}
/*  /banner */

/* project */
.project{
    background-color: #131313;
    color:#FFFFFF;
    padding-top:107px;
    padding-bottom: 350px;
}
.project_city{
    display:flex;
    justify-content: flex-end;
}

.project_city li{
    list-style:none;
    margin-right:60px;
    font-family: 'Yeseva One';
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}
.project_city li.active{
    border-bottom: 1px solid  #E3B873;
    color: #E3B873;
    padding-bottom:7px;
}
.project_city li:hover{
    color: #FFFFFF;
}
.project_block{
    margin-top:45px;
    display: flex;
    justify-content: space-between;
}
h2 {
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    color: #E3B873;
    margin-bottom:34px;
}
.project_p{
    line-height: 27px;
    color: #FFFFFF;
}
.project_item_text{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top:42px;
}
.project_item_desc h3{
    font-size: 18px;
    line-height: 25px;
    color: #E3B873;
    margin-bottom:9px;
        
}
.project_item_desc{
    font-size: 13px;
    line-height: 21px;
    margin-bottom:34px;
}
.project_slider{
    display: flex;
    align-items: center;
}  
.project_img_mobile{
    display:none;
}

.left_arrow{
    background-image: url(../images/svg/left.svg);
    height: 13px;
    width: 42px;
}
.right_arrow{
    background-image: url(../images/svg/right.svg);
    height: 13px;
    width: 42px;
}

.dots_slider{
    display: flex;
    justify-content: space-between;
    width: 64px;
    height: 10px;
    margin:0 30px;
}
.slider {
    background-image: url(../images/svg/dots.svg);
    width: 10px;
    height: 10px;
}
.slider_active{
    background-image: url(../images/svg/dots_active.svg);
    
}

/* /project */


/* online_control */
.online_control{
    margin-top:-325px;
}
h3.white {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    
}
.online_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:13px 0 30px;
}  
.headline_icon::before{
    content: "";
    height: 1.5px;
    background: #E3B873;
    width: 32px;
    display:inline-block;
    margin-right:10px;
}    
.headline_icon::after{
    content: "";
    height: 1.5px;
    background: #E3B873;
    width: 32px;
    display:inline-block;
    margin-left:10px;
}  

.video{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/video.jpg");
    width:817px;
    height:434px;
    margin: 0 auto;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.15);
    position: relative;
}
.video::after{
    content: "";
    background-image: url(../images/svg/play_btn.svg);
    width: 145px;
    height: 145px;
    position: absolute;
    display:block;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    cursor: pointer;
}

.online_control_text{
    text-align: center;  
    max-width: 680px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 37px;
}

p.online_control_text::before{
    content: "";
    height: 1.5px;
    background: #E3B873;
    width: 55px;
    display:block;
    margin: 62px auto 34px;
}
.online_control form {
    max-width: 770px;
    margin: auto;
    margin-top: 91px;
}
.form_1{
    gap: 2rem;
    flex-wrap: wrap;
    display: flex;
    width: 50rem;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
}
.form_1 ::placeholder {
    color: rgb(0, 0, 0);
    opacity: 1;
    font-size: 15px;
}



.politics{
    display: flex;
    justify-content: center;
    margin-top: 34px;
    align-items: center;
}
.politics_text{
    line-height: 23px;
    color: #181818;
}
.btn_form_1{
    width: 200px;
    height: 51px;
    font-style: normal;
}

.input_name{
    display: flex;
    justify-content: center;
    flex-direction: column;

}
input[type=text] {
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    width: 231px;
    line-height: 23px;
}

.form_1 label.name {
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.label {
    cursor: pointer;
    display: flex;
    justify-content: center;
  }
.galk {
    width: 18px;
    height: 18px;
    margin-right: 9px;
 }

.label>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.label>span {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.label>span::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.label>input:not(:disabled):not(:checked)+span:hover::before {
    border-color: #e3b873;
  }

.label>input:not(:disabled):active+span::before {
    background-color: #e3b873;
    border-color: #e3b873;
  }  

.label>input:checked+span::before {
    border-color: #e3b873;
    background-color: #e3b873;
    background-image: url("../images/svg/galk.svg");
} 
.custom-checkbox>input:disabled+span::before {
    background-color: #e9ecef;
}
/* /online_control */

/* types */

h3.black{
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #181818;
    margin-top:148px;
    
}
.repair_block{
    display: flex;
    justify-content: space-between;
    margin-top:31px;
}

.repair_item img{
    max-width: 100%;
}
.repair_intro{
    width:330px;
    height:286px;
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    padding:25px 0 280px 39px;
    margin-top: -124px;
    margin-left: 31px;
    position: relative;
}


.repair_intro h4{
    font-size: 18px;
    line-height: 25px;
    margin: 0 auto 13px;
    text-transform: none;
}
.repair_intro ul{
    font-size: 13px;
    line-height: 27px;
    color: #959595;
    
}

.repair_price {
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    font-family: 'Yeseva One';
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 17px 0;
    width:228px;
    text-align: center;
    margin-top:-26px;
    margin-left:31px;
    position: absolute;
}
.repair_ {
    background-image: url(../images/rep_end.jpg);
    background-repeat: no-repeat;
    margin-top: 80px;
    padding-top: 90px;
}
.repair_end {
    /*margin-top:230px;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form_2{
    background-color: #131313;
    padding:28px 49px;
    width:506px;
    height:509px;
    margin-left:100px;

}
.left{
    padding:0 20px 0 120px;
    margin-right:100px;
}
.left span {
    background: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 30px;
    font-family: 'Yeseva One';
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px;
    display:block;
    max-width: 55px;
    margin-right:17px;
}
.repair_number{
    margin-bottom: 100px;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
}

.input_form_2 p{
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.form_2 .politics{
    margin-top: 14px;
    justify-content: start; 
}
.politics_text_white {
    line-height: 23px;
    color: #FFFFFF;
}
.btn_form_2{
    width: 200px;
    height: 51px;
    float: right;
    margin-top:40px;
}
.input_form_2 .input_name:not(:last-of-type){
    margin-bottom: 48px;
    
}
.input_form_2 input[type=text] {
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    width: 408px;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    background: none;
}
    
.input_form_2 label.name  {
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}
.form_2_end{
    float:right;
    display: flex;
    align-items: center;
    margin-right:250px;
    margin-top: -70px;
}

.form_2_end:before{
    content: '';
    background-image: url(../images/svg/pig.svg);
    width: 72px;
    height: 72px;
    margin-right:25px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.form_2_end_text{
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);

}


/* /types */

/* realize */

.realize{
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../images/realize.jpg");
    background-size: cover;
    margin-top:245px;
    padding-top:140px;
}
.realize_ul{
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
}
.realize_ul li{
    list-style:none;
    margin-bottom:8px;
    cursor: pointer;
    
}
.realize_ul li:hover{
    color: #E3B873;
    
}
.realize_ul li.active{
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
    display:inline-block;

      
}

.realize .wrap{
    display:flex;
    justify-content: space-between;
    position: relative;
    padding-bottom:98px;

}
.styles{
    position: relative; 
}
.galery {
    z-index: 2;
    display: grid;
    grid-template-columns: auto auto;
    right: 0;
    top: -20px;
    column-gap: 2rem;
    margin-top:-175px;
    position: absolute;
 }
 img[src="./images/left-1.jpg"] {
    margin-top: 20px;
    height: 39em;
    object-fit: cover;
    width: 354px;
 }
 img[src="./images/left-2.jpg"] {
     margin-top:40px;
 
 }
 img[src="./images/right-1.jpg"] {
    margin-top: -50px;
 }
 img[src="./images/right-2.jpg"] {
     margin-top: -315px;
 }


/* /realize */

/* clients*/

.clients_block {
    display:flex;
    justify-content: space-between;
}
.clients_stat{
    display: flex;
    justify-content: flex-start;
    background: #E3B873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    color:#FFFFFF;
    font-family: 'Yeseva One';
    font-size: 17px;
    line-height: 24px;
    padding:11px 17px;
    width:290px;
    margin-left: -20px;
    margin-bottom: -25px;
}
.clients_intro{
    font-size: 18px;
    line-height: 29px;
    text-align: center;

}
.clients_item{
    padding-left:20px;
    padding-right:35px;
    padding-top:24px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
    background: #FFFFFF;
    width:375px;
}
.clients_item p{
    font-size: 13px;
    line-height: 23px;
    color: #959595;
}
.client_name{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom:30px;
}
.clients_item img{
    margin-right:20px;
}
.area{
    border-right:1px solid #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right:15px;

}
.area::before{
    content: '';
    background-image: url(../images/svg/clients_stat_1.svg);
    width:32px;
    height:31px;
    display:block;
    margin-right:15px;
}
.period{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:15px;

}
.period::before{
    content: '';
    background-image: url(../images/svg/clients_stat_2.svg);
    width:32px;
    height:31px;
    display:block;
    margin-right:15px;

}
.clients{
    background-image: url(../images/back_form.png);
    background-position: bottom;
    padding-bottom: 400px;
    background-repeat: repeat-x;
}
.form_3{
    width: 880px;
    background-color: #131313;
    padding:34px 180px;
    margin: auto;
    margin-top:160px;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
}
.form_3_up{
    display: flex;
    justify-content: space-between;
    margin-top:45px;
}
.input_form_3 input[type=text] {
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    background: none;
}
.input_form_3 .input_name{
    margin: 0;
    margin-bottom: 45px;
}
.form_3_up .input_name:last-of-type{
    margin-left: 60px;
}
.input_form_3 input[type="text"]{
    width: 100%;
}
.btn_form_4{
    width: 200px;
    height: 50px;
    font-style: normal;
    font-size: 13px;
    line-height: 27px;
    margin: 50px auto 0;
}    
/* /clients*/

/*contacts_block*/

.contacts_block{
    background-image: url('../images/contacts.jpg');
    background-size: cover;
    position: relative;
    z-index: 1;
    padding-bottom: 70px;
}
.contacts_block::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(24, 24, 24, 0.9);
    z-index: -1;

}
.contacts_block .wrap{
    padding-top: 275px;
}
.contacts{
    font-family: 'Yeseva One';
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
}
.social{
    display:flex;
    justify-content: center;
    margin-top:20px;
}
.social a:hover{
    box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.4);
    border-radius: 50%;
}
.mail{
    background-image: url(../images/svg/mail.svg);
    width:28px;
    height:28px;
    margin-right:8px;
    cursor: pointer;
}
.instagram{
    background-image: url(../images/svg/insta.svg);
    width:28px;
    height:28px;
    margin-left:8px; 
    cursor: pointer;
}
.map{
    filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.15));
    text-align: center;
    margin-top: 43px;
}
/*/contacts_block*/

/*footer*/
.footer{
    background-color: #131313;    
    color:#FFFFFF;
    font-size: 11px;

}
.footer .wrap {
    display:flex;
    align-items:center;
    justify-content:space-between;
    height:83px;
}

.footer_logo {
    color:#E3B873;
    width:180px;

}
.footer_nav a{
    color:#FFFFFF;
    text-decoration: none;
}
.footer_nav ul{ 
    display:flex;
}

.footer_nav li{
    list-style:none;
    margin-right: 47px;
    
}

/* /footer */

@media (min-width: 1301px) and (max-width: 1440px) {
    .wrap{
        max-width: 1240px;
    }
    .form_2_end {
        margin-right: 180px;
    }
}

@media (min-width: 769px) and (max-width: 1023px) {
    .wrap{
        max-width: 700px;
    }
    .form_2_end {
        margin-right: 180px;
    }
    .phone{
        min-width:120px;
    }
    .header .button{
        padding: 13px 20px;
        font-size: 10px;

    }
    .header_logo {
        width: 150px;
    }
    .header_nav li{
        margin-right: 25px;
    }
    .footer_nav li{
        margin-right: 25px;
    }
    .repair_item img{
        max-width: 90%;
    }
    .repair_intro{
        margin-left: 0px;
        width: 270px;
    }
    .repair_price{
        margin-left: 0px;
    }
    .repair_item{
        text-align: center;
        margin:0px;

    }
    .repair_intro ul{
        text-align: left;
    }
    .footer .button{
        padding: 13px 20px;
        font-size: 10px;

    }
    .header_logo {
        width: 140px;
    }
    .footer_logo {
        width: 140px;
    }
    .map img{
        max-width: 100%;
    }
    .none{
        display:none;
    }
    .video{
        max-width: 100%;
        aspect-ratio: 16 / 9;
        height: auto;
    }
    .project_block{
        flex-direction: column;
        margin-top: 15px;
    }
    .project_img_mobile{
        display:block;
        max-width: 100%;
        position: relative;
    }
    .project_img_mobile img{
        max-width: 100%;
        
    }
    .repair_block {
        justify-content: space-between;
        flex-direction: column;
    }
    .repair_item{
        text-align: center;
        margin:0px;

    }
    .repair_item img{
        width:100%;
    }
    .repair_intro{
        margin:auto;
        margin-bottom: 70px;
        width:90%
    }
    .repair_price{
        margin:auto;
        margin-top: -100px;
        left: 0;
        right: 0;
    }
    .repair_intro ul{
        text-align: left;
    }
    .realize{
        background-image: none;
        margin-top: -40px;
    }
    .galery {
        display: flex;
        margin-top: 20px;
        position: relative;
        z-index: 7;
        justify-content: center;
    }
    .realize .wrap{
        flex-direction: column;
    }
    h2{
        text-align: center;
    }
    .online_control form{
        max-width: 100%;

    }
    .politics{
        order: 0;
    }
    .btn_form_1{
        order:1
    }
    .arrow_slider:before{
        content: '';
        background-image: url(../images/svg/arrow_gallery.svg);
        width:36px;
        height: 36px;
        position: absolute;
        left: 5%;
        margin: auto;
        top: 0;
        bottom: 0;

    }
    .arrow_slider:after{
        content: '';
        background-image: url(../images/svg/arrow_gallery.svg);
        width:36px;
        height: 36px;
        transform: rotate(180deg);
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 4%;

        
    }
    img[src="./images/left-1.jpg"] {
        width: 100%;
    }
    .form_3{
        padding-top: 300px;
        margin-top: -360px;
        width: 100%;

    }
    .clients{
        background-image: none;
        background-color: #131313;
    }
    .contacts_block .wrap{
        padding-top: 75px;
    }

}
@media (min-width: 1024px) and (max-width: 1300px) {
    .wrap{
        max-width: 960px;
    }
    .form_2_end {
        margin-right: 180px;
    }
    .phone{
        min-width:120px;
    }
    .header .button{
        padding: 13px 20px;
        font-size: 10px;

    }
    .footer .button{
        padding: 13px 20px;
        font-size: 10px;

    }
    .header_logo {
        width: 150px;
    }
    .footer_logo {
        width: 150px;
    }
    .header_nav li{
        margin-right: 35px;
    }
    .footer_nav li{
        margin-right: 35px;
    }
    .repair_item img{
        max-width: 90%;
    }
    .repair_intro{
        margin-left: 0px;
        width: 270px;
    }
    .repair_price{
        margin-left: 0px;
    }
    .repair_item{
        text-align: center;
        margin:0px;

    }
    .repair_intro ul{
        text-align: left;
    }
    .repair_number{
        margin-bottom: 70px;
    }
    h2{
        font-size:22px;
    }
    .realize_ul {
        font-size: 18px;
    }
    .galery img{
        width:290px;
    }
    .realize{
        padding-top: 80px;
    }
    .realize .wrap{
        padding-bottom:20px;
    }
    .left{
        padding: 0 20px 0 80px;
    }
    .form_2{
        margin-left: 50px;
    }

}


@media (min-width: 375px) and (max-width: 768px) {
    .wrap{
        max-width: 90%;
        }
    .form_2_end {
        margin-right: 180px;
    }
    h1{
        font-size: 23px;
        line-height: 31px;
    }
    .banner{
        height: 476px;
        padding-top: 85px;
    }
    .banner_intro{
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .header .wrap{
        height: 57px;
    }
    .banner_intro p{
        font-size: 14px;
        line-height: 19px;

    }
    .button_border.mobile{
        margin-left:0px;
        margin-top:10px;
        display:block;
    }
    .phone a{
        font-size: 11px;
        line-height: 15px;
        text-align: right;
        color: #FFFFFF;
        text-decoration: none;
    }

    .project{
        padding-top: 40px;
        padding-bottom: 200px;      
    }

    h2{
        text-align: center;
    }
    .project_p{
        text-align: center; 
    }
    .online_control{
        margin-top: -190px;
        background:#131313;
    }
    .video{
        max-width: 100%;
        aspect-ratio: 16 / 9;
        height: auto;
    }
    .project_block{
        flex-direction: column;
        margin-top: 15px;
    }
    .project_img_mobile{
        display:block;
        max-width: 100%;
        position: relative;
    }
    .project_img_mobile img{
        max-width: 100%;
        
    }
    .arrow_slider:before{
        content: '';
        background-image: url(../images/svg/arrow_gallery.svg);
        width:36px;
        height: 36px;
        position: absolute;
        left: 5%;
        margin: auto;
        top: 0;
        bottom: 0;

    }
    .arrow_slider:after{
        content: '';
        background-image: url(../images/svg/arrow_gallery.svg);
        width:36px;
        height: 36px;
        transform: rotate(180deg);
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 4%;
    }
    p.online_control_text{
        font-size: 0.9rem;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;


    }
    .form_1{
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 2rem;
        width: auto;
        height: auto;
        justify-content: space-evenly;
    }
    .form_1 input[type=text] {
        width: 100%;
        font-size: 1rem;
        padding: 1rem 0px;
        box-sizing: border-box;
        background-color: #131313;
        color: #fff;
        border: none;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: medium;
        border-bottom: 1px solid rgba(255, 255, 255, 0.94);
    }
    .btn_form_1{    
        display: block;
        order: 1;
        position: relative;
        bottom: -25px;
        margin: auto;
    }
    .form_1 label.name {
        font-size: 13px;
        line-height: 21px;
        color: rgba(255, 255, 255, 0.5);
    }
    .form_1 ::placeholder {
        color: rgb(255, 255, 255);
        opacity: 1;
        font-size: 15px;
    }
    .form_1 .politics_text{
        color: rgb(255, 255, 255);

    }
    .repair_block {
        justify-content: space-between;
        flex-direction: column;
    }
    .repair_item{
        text-align: center;
        margin:0px;

    }
    .repair_item img{
        width:100%;
    }
    .repair_intro{
        margin-left:0px;
        margin-bottom: 70px;
    }
    .repair_price{
        margin-top: -100px;
        margin-left: 0px;
    }
    .repair_intro ul{
        text-align: left;
    }
    .none{
        display:none;
    }
    .map img{
        max-width: 100%;
    }
    .realize {
        background-image: none;
        margin-top: 10px;
        padding-top: 10px;
    }
    .realize .wrap{
        flex-direction: column;
    }
    .galery{
        display:flex;
        margin-top: 20px;
        position: relative;
        z-index: 7;
        justify-content: center;
    }
    img[src="./images/left-1.jpg"] {
        display: block;
        width: 23rem;
        height: auto;
        object-fit: cover;
    }
    .clients {
        background-image: none;
        z-index: 5;
        position: relative;
    }
    .form_3{
        margin-top: 0px;
        width: 100%;
        padding: 250px 30px 50px;
        margin-bottom: 50px;

    }
    .form_block{
        margin-top: -250px;
    }
    .contacts_block{
        position: relative;
        background-image:none;
        z-index: 1;
        background-color: #131313;
    }
    .contacts_block::before{
        display:none;
    }
    .contacts_block .wrap {
        margin-top: 150px;
        display: flex;
        flex-direction: column;
    }
    .form_3_up{
        flex-direction: column;
    }
    .form_3_up .input_name{
        margin-left: 0px !important;
    }
    .contacts{
        order:1;
        margin-top: 20px;
        font-size: 18px;
    }
    .social{
        order:2;
    }
    .map{
        order:0;
        margin-top:0px;
    }
    
}
@media only screen and (max-width: 374px) {
    .wrap{
        max-width: 90%;
        }
    .none{
        display:none;
    }
    h1{
        font-size: 20px;
        line-height: 25px;
    } 
    .banner{
        padding: 30px 0px;
        height: auto;
    }
    .banner_intro {
        max-width: 100%;
        padding-right: 0px;
        display: flex;
        flex-direction: column;
    }
    .banner_intro p {
        font-size: 14px;
        line-height: 26px;
    }
    .button_border.mobile{
        display:block;
        margin-top: 10px;
    }
    .button_border{
        margin-left: 0px;
    }
    .project{
        padding-top: 20px;
    }
    h2 {
        font-size: 20px;
        line-height: 25px;
        text-align: center;
    }
    .project_block{
        flex-direction: column;
        margin-top: 15px;
    }
    .project_img_mobile{
        display:block;
        max-width: 100%;
        position: relative;
    }
    .project_img_mobile img{
        max-width: 100%;
        
    }
    .arrow_slider:before{
        content: '';
        background-image: url(../images/svg/arrow_gallery.svg);
        width:36px;
        height: 36px;
        position: absolute;
        left: 5%;
        margin: auto;
        top: 0;
        bottom: 0;

    }
    .arrow_slider:after{
        content: '';
        background-image: url(../images/svg/arrow_gallery.svg);
        width:36px;
        height: 36px;
        transform: rotate(180deg);
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 4%;
    }
    .video{
        max-width: 100%;
        aspect-ratio: 16 / 9;
        height: auto;
    }
    .online_control {
        background: #131313;
    }
    .online_control_text {
        font-size: 14px;
        line-height: 20px;
        color:#FFFFFF;
    }
    .form_1{
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 2rem;
        width: auto;
        height: auto;
        justify-content: space-evenly;
    }
    .form_1 input[type=text] {
        width: 100%;
        font-size: 1rem;
        padding: 1rem 0px;
        box-sizing: border-box;
        background-color: #131313;
        color: #fff;
        border: none;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: medium;
        border-bottom: 1px solid rgba(255, 255, 255, 0.94);
    }
    .btn_form_1{    
        display: block;
        order: 1;
        position: relative;
        bottom: -25px;
        margin: auto;
    }
    .form_1 label.name {
        font-size: 13px;
        line-height: 21px;
        color: rgba(255, 255, 255, 0.5);
    }
    .form_1 ::placeholder {
        color: rgb(255, 255, 255);
        opacity: 1;
        font-size: 15px;
    }
    .form_1 .politics_text{
        color: rgb(255, 255, 255);

    }
    .repair_block {
        justify-content: space-between;
        flex-direction: column;
    }
    .repair_item{
        text-align: center;
        margin:0px;

    }
    .repair_item img{
        width:100%;
    }
    .repair_intro{
        margin-left:0px;
        margin-bottom: 70px;
        padding: 10px 20px;
        width: 100%;
    }
    .repair_price{
        margin-top: -100px;
        margin-left: 0px;
    }
    .repair_intro ul{
        text-align: left;
    }
    .map img{
        max-width: 100%;
    }
    .realize {
        background-image: none;
        margin-top: 10px;
        padding-top: 10px;
    }
    .realize .wrap{
        flex-direction: column;
    }
    .galery{
        display:flex;
        margin-top: 20px;
        position: relative;
        z-index: 7;
        justify-content: center;
    }
    img[src="./images/left-1.jpg"] {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .clients {
        background-image: none;
        z-index: 5;
        position: relative;
    }
    .form_3{
        margin-top: 0px;
        width: 100%;
        padding: 200px 30px 50px;
        margin-bottom: 50px;

    }
    .form_block{
        margin-top: -250px;
    }
    .contacts_block{
        position: relative;
        background-image:none;
        z-index: 1;
        background-color: #131313;
    }
    .contacts_block::before{
        display:none;
    }
    .contacts_block .wrap {
        margin-top: 150px;
        display: flex;
        flex-direction: column;
    }
    .form_3_up{
        flex-direction: column;
    }
    .form_3_up .input_name{
        margin-left: 0px !important;
    }
    .contacts{
        order:1;
        margin-top: 20px;
        font-size: 18px;
    }
    .social{
        order:2;
    }
    .map{
        order:0;
        margin-top:0px;
    }
    .input_form_3 .input_name{
        margin-bottom:10px;
    }

}
